[submodule "src/server"]
	path = src/server
	url = git@github.com:mix-php/server.git
[submodule "src/session"]
	path = src/session
	url = git@github.com:mix-php/session.git
[submodule "src/validate"]
	path = src/validate
	url = git@github.com:mix-php/validate.git
[submodule "src/view"]
	path = src/view
	url = git@github.com:mix-php/view.git
[submodule "src/websocket"]
	path = src/websocket
	url = git@github.com:mix-php/websocket.git
[submodule "src/sync-invoke"]
	path = src/sync-invoke
	url = https://github.com/mix-php/sync-invoke.git
