# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer
composer.phar
/vendor
/composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml

# vscode
/.vscode
